.navbar {
    background-color: #9887ff;
}

.title {
    color: lightgrey;
    background: transparent;
    text-align: left;
}



.background {
    background-image: url('./images/bluryBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: lightskyblue;
}