input {
    margin-right: 50px;
    float: right;
    position: relative;
}

label {
    position: relative;
    float: left;
}

#button1 {
    margin-top: 25px;
    position: relative;
    float: right;
    border-radius: 10px;
    background-color: lightgray;

}


.addNewDevice {
    height: np;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 70px;
    overflow-x: hidden;
    right: 0;
    margin-top: 75px;
    margin-right: 50px;
    padding: 25px;
    color: lightgray;
    border-radius: 25px;
    border: darkgray;
    border-style: ridge;
    background-blend-mode:saturation;
}